body, header, .container, .quiz, .content, .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

html, .body {
    width: 100%;
}

.content {
    width: 600px;
    height: 600px;
}

.adam {
    background-image: url(./img/Adam.jpg);
}

.border-rule {
    border: 2px #6395ec solid;
    margin: 10px auto;
}

.start-button {
    background-color: #e395ab;
    color: #6395ec;
    font-size: 60px;
    text-transform: uppercase;
    align-items: center;
    border: 2px;
    border-radius: 10px;
    width: 250px;
    height: 80px;
    padding: 0px;
}

.go-back-btn {
    background-color: #e395ab;
    color: #6395ec;
    font-size: 25px;
    text-transform: uppercase;
    align-items: center;
    border: 2px;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    padding: 0px;
}

.start-button:hover, .go-back-btn:hover {
    cursor: pointer;
}

.answers {
    list-style-type: none;
    padding-left: 0px;
}

.answers li {
    font-size: 25px;
    background: #cce5ff;
    margin: 10px;
    border-radius: 15px;
    line-height: 35px;
    width: 200px;
}

.answers li a {
    text-decoration: none;
}

/* li lights up green for click on correct answer */
.correct {
    background-color: green;
}

/* li lights up red for click on incorrect answer */
.incorrect {
    background-color: red;
}

@media screen and (max-width: 800px) {
    .content {
        width: 300px;
        height: 550px;
        padding: 5px;
    }
}